__pycache__/
.env
data/raw/
*pbix
*.csv
__pycache__/
__init__.py
baa44b46-11ed-404b-b0de-1dbceb2e02d5.png
roadmap_pipeline.txt

# Keep sample parquet
!data/sample/**/*.parquet
logs/
*.pyc
*.parquet
*.tsv